{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="container">
        <div class="about_top">
            <h1>
                About Us
            </h1>
            <hr>
            <div class="about_img">
                <img src="{% static 'img\FullSizeRender_1_480x480.jpg' %}" alt="about_img" width="100%" height="100%">
            </div>
        </div>
        <div class="about_bottom">
            <h2>
                Welcome to Deeda
            </h2>
            <p>
                Deeda is the new image of Just Collection Company for producing fashion ladies’ handbags which was founded in 1995 by Maged Bastawrous, as a specialized bag designer and manufacturer.<br><br>

                We offer the widest selection of high quality, fashionable handbags at competitive prices. <br><br>

                Whether you are looking for a special occasion clutch, an everyday shoulder bag or a bold statement piece, we have it! <br><br>

                Deeda offers you high quality bags through a long development history, high efficient industrial cluster, professional production, skilled workers and advanced equipment. <br><br>

                All our accessories are imported with the latest trends and best quality. <br><br>

                If you are looking for high quality, fashionable, affordable bags, Deeda is your place.
            </p>
        </div>

    </div>
    {% endblock content %}